$primary-input-color: #ffffff;
$primary-text-color: #333;
$primary-title-font-color:#000000;
$primary-application-color:  lightgray;
$primary-application-color-transperent: rgba(149,168,89, 0.3);
$transperent-grey-background-03:rgba(0, 0, 0, 0.3);
$primary-application-success-color:#8bc34a;
$primary-application-danger-color:#f44336;
$primary-application-warning-color:#ffca28;
$primary-application-color-transperent: rgba(149,168,89, 0.3);
