.request-container {
    padding: 10px;
    background-color: lightgray;
    border: 0.5px solid darkgray;
    margin-bottom: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.01), 0 6px 20px 0 rgba(0, 0, 0, 0.05);
    .row {
        margin: 0px;

        h4 {
            a {
                color: #0366d6;
            }
        }
    }
}
