.filter{
    margin-left: 15px;
}

.inputs{
        width:30px;
}
.buttons
{
    display: flex;
    justify-content: center;
}

.divs{
    border: 0.5px solid darkgray;
    border-radius: 5px;
    width: 140px;
}