.request-container {
    padding: 10px;
    background-color: lightgray;
    border: 0.5px solid darkgray;
    margin-bottom: 5px;
    margin-top: 5px;

    .row {
        margin: 0px;

        h4 {
            a {
                color: #0366d6;
            }
        }
    }
}

